
@{
    ViewData["Title"] = "Index";
}

<button class="badge-primary" id="getdata">Click Here</button>
<div id="content"></div>
<div id="repo" data-url="@Url.Action("Data")"></div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ajaxindex.js"></script>